files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-nodejs.conf":
    content: |
      /var/log/nodejs/*
  "/opt/elasticbeanstalk/tasks/taillogs.d/01-nginx.conf":
    content: |
      /var/log/nginx/*
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/applogs.conf" :
      mode: "000755"
      owner: root
      group: root
      content: |
        /var/app/current/log/*.log
